<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Choice Game</title>
    <link rel="stylesheet" href="stylesheets/dashboard.css">
    <link rel="stylesheet" href="stylesheets/animationBackground.css">
    <link rel="stylesheet" href="stylesheets/user-container.css">
</head>
<body>
    <!-- for animation -->
    <div class="user-info">
      <h4>Welcome, <%= user_name %>!</h4>
      <button onclick="location.href='/logout';">Logout</button>
  </div>
    <div class="animation-container">
        
        <!--animation bubbles-->
        <div class = "bubbles">
          <!-- BALLS ARE BEING INSERTED VIA BALLS.js HERE -->
        </div>      
        <!-- for game -->
    <div class="game-container">
        <div class="leaderboard-container" id="leaderboard-container" style="display: none;">
            <h3>Leaderboard</h3>
            <ol id="leaderboard-list"></ol>
        </div>
        <div class="content" id="quiz-container" >
            
            <div class="score-box" id="score-box">Score: 0</div>
            <div class="question" id="question">Loading question...</div>
            <div class="choices" id="choices"></div>
            <div class="result" id="result" ></div>
            <button class="next-button" id="next" onclick="loadNextQuestion()">Next Question</button>
            <div class="restart-box" id="restart"  onclick="location.reload()">Restart</div>
        </div>
        <div class="tracker-box" id="tracker-box" style="display: none;"></div>
    </div>
      
    </div>
    

    
</body>
<script>
    let score = 0; // Initialize score
    const scoreBox = document.getElementById('score-box');
    const questionElement = document.getElementById('question');
    const choicesElement = document.getElementById('choices');
    const resultElement = document.getElementById('result');
    const nextButton = document.getElementById('next');
    let scoreCounter = 0;
    let choosen = false;
    let questionData;  
    let response;
    let data;
        
    let currentQuestionIndex = 0;

    async function loadQuestion() {
        resultElement.textContent = '';
        nextButton.style.display = 'none';
        choicesElement.innerHTML = '';
            
        try {
            const apiUrl = `https://opentdb.com/api.php?amount=10&category=18&difficulty=hard&type=multiple`;
            const response = await fetch(apiUrl);
            data = await response.json();
            console.log(data.results[currentQuestionIndex]);
            questionData = data.results[currentQuestionIndex];
            questionElement.textContent = "[ Question " + currentQuestionIndex  +  " ] " +  questionData.question;
        
            createChoice(questionData);
        
            currentQuestionIndex++;
        } catch (error) {
            questionElement.textContent = 'Error loading question. Please try again.';
            console.log(error);
    }
}

        function loadNextQuestion() {
            resultElement.textContent = '';
            nextButton.style.display = 'none';
            choicesElement.innerHTML = '';
            questionData = data.results[currentQuestionIndex];
            questionElement.textContent = "[ Question " + currentQuestionIndex  +  " ] " +  questionData.question;
            createChoice(questionData);
            currentQuestionIndex++;    
        }

        function createChoice( questionData){
            let correctAnswer = questionData.correct_answer;
            let incorrect_answers = questionData.incorrect_answers;
            let optionsList  = incorrect_answers;
            optionsList.splice(Math.floor(Math.random()*(incorrect_answers.length +1)), 0 , correctAnswer);
            console.log(optionsList);
            
            optionsList.forEach(element => {
                const button = document.createElement('button');
                button.className = 'choice';
                button.textContent = element;
                button.onclick = () => checkAnswer(element, correctAnswer);
                choicesElement.appendChild(button);
            });
            
        };

        function checkAnswer(element, correctAnswer) {
            if (element === correctAnswer) {
                score += 1;
                resultElement.textContent = 'Correct! ';
                resultElement.style.color = 'green';
            } else {
                resultElement.textContent = 'Wrong! ❌';
                resultElement.style.color = 'red';
            }
            nextButton.style.display = 'block';

            scoreBox.textContent = `Score: ${score}`;
            nextButton.style.display = 'block';
        }

        // Load the first question
        loadQuestion();
</script>

<script  src="javascripts/balls.js"></script>

</html>
